
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .users {
        margin-top: 40px;
        width: 500px;
    }

        .users table {
            text-align: center;
        }

    .usersBar ul .newUser span {
        padding: 6px;
        background: brown;
        float: right;
        margin-top: 3px;
        border-radius: 50%;
    }

    .usersBar ul li span {
        padding: 6px;
        background: lightgray;
        float: right;
        margin-top: 3px;
        border-radius: 50%;
    }
</style>
<h4 class="userId">@Session["Id"]</h4>
<div class="row">
    <div class="col-lg-12">

    </div>
    <div class="usersBar">
        <ul>
            <li>Contacts</li>
        </ul>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js" type="text/javascript"></script>
    <script src="~/signalR/js" type="text/javascript"></script>
    <script src="~/Scripts/ChatApi.js" type="text/javascript"></script>
    <script>
        var userId = $(".userId").text();
            //$(".userId").hide();

    </script>

    <script src="~/Scripts/SignalR.js" type="text/javascript"></script>
}