
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet"/>
<style type="text/css">
    
    body{
        
    }
    .register {
        background: #f3f3f3;
        width: 400px;
        margin-top: 80px;
        padding: 5px;
        text-align: left;
        font-family: Almarai;
    }

     .register .body {
         padding: 4px;
     }
.register .header{
    padding-left:30px;
    color:#1a1f24;
}
.register .body div {
      margin: 1px;
 }

 .register .body label {
     width: 80px;
     font-weight:500;
     font-size:16px;
     color:#1a1f24;
  }

 .register .body input {
     width: 300px;
     padding: 6px;
     padding-left:9px;
     border-radius:2px;
     font-size:15px;
     border: 1px solid lightgray;
 }

.register .body button {
     padding: 8px;
     width: 80px;
     margin: 4px;
     color:#1a1f24;
     border: 1px solid lightgray;
     transition:background .5s;
}
.register .body button:hover{
    background:#1a1f24;
    color:white;
}
.register .body button:first-of-type {
     margin-left: 100px;
 }
    

    
</style>
<center>
    <div class="register">
        <div class="header"><h4>Sign in</h4></div>
        <div class="body">
            @try
            {
                if (Model.Header == "failed")
                {
                    <h4 class="notif bg-danger">@Model.Msg</h4>
                    <script>setTimeout(function () { $(".notif").hide() }, 3000)</script>
                }
            }
            catch (Exception e)
            {
                <h4 class="bg-danger"></h4>
            }

            <form action="/Home/LoginCheck" method="post">
                <div><span class="bi bi-person"></span><input type="text" name="name" placeholder="user name" /></div>
                <div><span class="bi bi-lock"></span><input type="password" name="password" placeholder="password" /></div>
                <div><button type="submit">Sign in</button><button type="reset" onclick="">Cancel</button></div>
            </form>

        </div>
    </div>
</center>
