@font-face {
    font-family: Almarai;
    src: url(../fonts/Almarai/Almarai-Regular.ttf)format('truetype')
}
body {
    font-family:Almarai;
}
.navbar{
    background:white;
    border-bottom:1px solid lightgray;
}
.navbar li a{
    color:white;
}
.navbar li a:hover{
    color:#302d2d;
}
.navbar .bi{
    font-size:24px;
    color:black;
}
.bi {
    font-size: 27px;
    margin-right: 5px;
    margin-top: 8px;
    padding: 3px;
}
.notif {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    position: absolute;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 4px;
    background: rgba(137, 17, 17,.7);
    color: white;
    z-index: 1000;
}
.navbar-toggle .icon-bar {
    color: black;
    background: black;
}
.userId {
    display: none;
}

/*
*Index and chat page style
*/

.usersBar, .rightbar {
    background: white;
    width: 200px;
    position: absolute;
    margin: 0px;
    margin-top: 30px;
    border: 1px solid lightgray;
    padding: 0px;
    font-family: Almarai;
    z-index:990;
}
.usersBar ul,.rightbar ul{
    list-style:none;
    padding:0px;
}
.usersBar ul li,.rightbar ul li{
    padding:7px;
    padding-left:15px;
    border-top:1px solid lightgray;
    cursor:pointer;
    color:#1a1f24;
}

.usersBar ul .newUser span {
    padding: 6px;
    background: brown;
    float: right;
    margin-top: 3px;
    border-radius: 50%;
}
.usersBar ul li span {
    float: right;
    padding: 0px;
    background: white;
    color: gray;
    border-radius: 0px;
    width: auto;
    height: auto;
}

.usersBar ul li button {
    margin-left: 3px;
    border: 0px;
    color: gray;
    background: white;
}

.usersBar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
}
.usersBar ul li:first-of-type{
    border:0px;
    background:#fff;
    color:#2b2929;
    cursor:default;
    padding:5px;
    font-weight:400;
}

.usersBar ul li:first-of-type span:first-of-type,.rightbar ul li{
    padding:0px;
    background:transparent;
    float:none;
    margin:0px;
    border-radius:0px;
}
.rightbar {
    width: 40px;
    padding: 0px;
    margin: 0px;
    margin-left: 90%;
    margin-top: 30px;
    background: rgba(26, 31, 36,1);
}
.rightbar ul{
    padding:0px;
}
.rightbar ul li{
    padding:4px;
    width:auto;
}
.rightbar .bi{
    padding:0px;
    margin:0px;
    font-size:25px;
    color:white;
}

.connected{
    background:#129407;
    color:white;
}
.disconnected{
    background:rgba(137, 17, 17,.7);
    color:white;
}
/*
* chatBar
*/
ul{
    list-style:none;
    padding:0px;
    margin:0px;

}
.chatBox {
    position: absolute;
    border: 1px solid #efefef;
    width: 600px;
    margin-left: 17%;
    margin-top: 29px;
    background: white;
}
.chatBox .header{
    background:white;
    padding:1px;
    padding-left:4px;
    border-bottom:1px solid lightgray;
    margin:0px;
}

.chatBox .header img{
    width:60px;
    height:60px;
    border-radius:50%;
    margin:1px;
}
.chatBox .header h4{
    font-weight:500;
    margin-left:4px;
}
.chatBox .header span{
    font-size:20px;
    margin-left:10px;
    color:gray;
}
.chatBox .body{
    height:300px;
    margin:0px;
    padding:2px 10px 0px 10px;
    
}
.chatBox .body div{
    width:auto;
    margin-bottom:10px;
}
.chatBox .body p{
    margin-top:-15px;
    min-width:200px;
}
.chatBox .body .receiver p{
    

}
.chatBox .body .sender p{
    
}
.chatBox .body  span{
    
}
.chatBox .chatFooter {
    padding: 0px;
    padding-bottom: 10px;
    width: 600px;
}
.chatBox .chatFooter input{
    width:800px;
    padding:4px;
}
.chatBox .chatFooter button {
    width: 50px;
    border:1px solid lightgray;
    background:#fcfcfc;
    padding:4px;
    font-weight:600;
}
/*
 *notification style
*/
.notification {
    border: 1px solid lightgray;
    width: 400px;
    position: absolute;
    z-index: 1001;
    background: rgba(255,255,255,.8);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}

.notification .head {
    padding: 2px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    text-align:left;
}
.notification .head span{
    
}
.notification .body {
    padding: 5px;
    margin-top: 8px;
    max-height:150px;
}